body
{
    background-color: black;
}
.bob
{
    color: #ad8aff;
    font-size: 100px;
    font-family:Arial, Helvetica, sans-serif;
}
a
{
    color: chocolate;
    font-weight: bolder;
}
.jeff {
    width: 400px;
    font-size: 50px;
    border-radius: 40px;
    padding: 15px;
    background-color: #0b7300
}
#magicaldivness
{
    width: 100%;
    background-color: crimson;
    height: 100px;
}